{% extends "base.html" %}
{% block body_block %}
<div class="jumbotron">
<h1>Welcome to coding club Website </h1>
<h2> Please register yourself and login in  , then click Department </h2>
<p> This is website created to generate a record of all the members of coding club . Their guthub handle , the things they are interested in or currently doing or have done.
   So that other members can find people of their interest and can communicate with them.</p>
<h4>Will improving frontend soon . Please try to find bugs or errors in backend part </h4>
<h5> More features comming soon!</h5>
</div>
{% endblock %}
